<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        姓名：<span>{{fullName}}</span><br><br>
        除数：<input type="text" v-model="firstNum"><br><br>
        被除数：<input type="text" v-model="lastNum"><br><br>
        商：<span>{{result}}</span>
    </div>

    <script>
        Vue.config.productionTip = false 

        new Vue({
            el:'#root', 
            data:{ 
                firstName:'张',
                lastName:'三',
                firstNum:0,
                lastNum:0
            },
            computed:{
                fullName:{
                    get(){
                        return this.firstName + '-' + this.lastName
                    },
                    set(value){
						const arr = value.split('-')  //通过‘-’ 进行切片
						this.firstName = arr[0]
						this.lastName = arr[1]
                    }
                },
                result:{
                    get(){
                    return this.firstNum/this.lastNum
                }
            }
            }
        })

        
    </script>
</body>
</html>
