<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
    <body>
        <div id="root">
			<h2>人员列表</h2>
			<input type="text" placeholder="输入关键词" v-model="keyword" >
			<ul>
				<li v-for="(p,index) of filpersions" :key="index">   <!--从filpersions取元素-->
					{{p.name}}-{{p.age}}
				</li>
			</ul>
		</div>
    </body>
    <script type="text/javascript">
        Vue.config.productionTip = false
        
        new Vue({
            el:'#root',
            data:{
                persons:[
                    {id:'001',name:'周冬雨'},
                    {id:'002',name:'周杰伦'},
                    {id:'003',name:'马冬梅'},
					{id:'004',name:'马保国'},
                ],
				keyword:'',
				//filpersions:[]
            },
			// watch:{       //监视属性
			// 	keyword:{     //监视对象
			// 		immediate:true,     //立即执行一次handler
			// 		handler(val){      // handler()其值是一个回调函数, 即监听到变化时应该执行的函数
			// 			this.filpersions = this.persons.filter((p)=>{
			// 				console.log("调用")
			// 				return p.name.indexOf(val) !== -1
			// 			})
			// 		}
			// 	}
			// }
			computed:{        //计算属性
				filpersions(){		
				  return this.persons.filter((p)=>{     //filter方法创建给定数组一部分的浅拷贝，其包含通过所提供函数实现的测试的所有元素。
					return p.name.indexOf(this.keyword) !== -1   //测试函数indexOf方法返回在数组中可以找到给定元素的第一个索引，如果不存在，则返回 -1。
					})
				}
			}
        })
    </script>

</html>