<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h1>学生信息</h1>
        <button @click="student.age++">年龄+1岁</button><br/>
			<button @click="addSex">添加性别属性，默认值：男</button> <br/>
			<button @click="addFriend">在列表首位添加一个朋友</button> <br/>
			<button @click="updateFirstFriendName">修改第一个朋友的名字为：张三</button><br/>
			<button @click="addHobby">添加一个爱好</button> <br/>
		    <button @click="updateHobby">修改第一个爱好为：开车</button><br/>
			<button @click="removeSmoke">过滤掉爱好中的抽烟</button> <br/>

        <h3>姓名{{student.name}}</h3>
        <h3 v-if='student.sex'>性别：{{student.sex}}</h3>
        <h3>年龄{{student.age}}</h3>
        <h3>爱好</h3>
        <ul>
            <li v-for="(h,index) in student.hobby" :key="index">
                {{h}}
            </li>
        </ul>
        <h3>
            <ul>
                <li v-for="(f,index) in student.friend" :key="index">
                    {{f.name}}-{{f.age}}
                </li>
            </ul>
        </h3>
    </div>


    <script type='text/javascript'>
        Vue.config.productionTip = false
    
        const vm = new Vue({
        el:'#root',
        data:{
            student:{
                name:'张三',
                age:22,
                hobby:['学习','运动','摄影'],
                friend:[
                    {name:'王五',age:24},
                    {name:'李四',age:23}
                ]
            }
        },
        methods:{
            addSex(){
                Vue.set(this.student,'sex','男')  //除数字外都是字符需加引号！！！！
                //this.$set(this.student,'sex','男')
            },
            addFriend(){
                this.student.friend.unshift({name:'刘六',age:20})  //对于数组的修改需使用数组方法
            },
            updateFirstFriendName(){
                this.student.friend[0].name = '张三'
            },
            addHobby(){
                this.student.hobby.push('钓鱼')
            },
            updateHobby(){
                this.student.hobby.splice(0,1,'开车')
            },
            removeSmoke(){
                this.student.hobby = this.student.hobby.filter((h)=>{
				return h !== '抽烟'
            })
        }}

        
        })
    </script>


</body>
</html>